<<<<<<< Updated upstream
Fill in your blog post here:
<%= render partial: 'posts/form', locals: { submit_text: "Publish" } %>
=======
<%= stylesheet_link_tag "application" %>
<div id="hdr"></div>
<%= link_to 'Home Page', :root %>
<h1>Fill in your blog post here:</h1>
<%= render 'posts/form' %>

>>>>>>> Stashed changes
