/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	font-family: Verdana;

}
#hdr{
	background: url('/assets/weeblog_hdr.jpg') repeat-x;
	height:125px;
	width:512px;
	overflow:visible;
}
h1{
	width:502px;
	background-color: #333;
	color: #fff;
	padding: 5px;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom:  10px;
}
h2{
	width:502px;
	background-color: #bfd2f6;
	color: #333;
	padding: 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	margin-bottom: 0px;
	margin-top: 10px;
}
h3{
	width:502px;
	background-color:#e1e1e1;
	color: #333;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	margin-top: 0px;
	margin-bottom: -10px;
}
.post{
	width:502px;
	background-color: #d7e2f6;
	color: #333;
	padding: 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	margin-top: 0px;
	margin-bottom: 10px;
}
p{
	width:502px;
	color: #333;
	padding: 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.date{
	width:502px;
	background-color: #08245a;
	color: #fff;
	padding: 5px;
	font-size: 8px;
	font-weight: normal;
	line-height: 10px;
	margin: 0px;
}
.commentDate{
	width:502px;
	background-color: #4c9a2f;
	color: #fff;
	padding: 5px;
	font-size: 8px;
	font-weight: normal;
	line-height: 10px;
	margin: 0px;
}
.commentName{
	width:502px;
	background-color: #aaec91;
	color: #333;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-top: 10px;
}
.commentMsg{
	width:502px;
	background-color: #d0f6c2;
	color: #333;
	padding: 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	margin-top: 0px;
}

form {
	width:502px;
	background-color: #ffffc9;
	color: #333;
	padding: 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	margin-top: 0px;
	margin-bottom: 10px;
}
a:link {
	color: #333;
}
a:visited {
	color: #333;
}
a:hover {
	color: #06266f;
}

.date a:link {
	color: #fff;
}
.date a:visited {
	color: #fff;
}
.date a:hover {
	color: #ccccccc;
}